.navbar .navbar-nav .nav-item .nav-link {
	color: #ffffff !important;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
	color: #000 !important;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
	color: #1a7cc2 !important;
	background-color: transparent !important;
  
}

.navbar .navbar-nav .dropdown .dropdown-menu {
	min-width: 600px;
  justify-content: center;
  align-items: flex-end !important;
  
}

.navbar-toggler {
    border:none;
    font-size:1.875rem;
    color: #000000 !important;
}

.dropdown:hover .dropdown-menu {
	display: block;
}


.bg-blue{
  background-color: #367aaa !important;
}

.btn-blue {

	background-color: #333131 !important;
	color: #ffffff;
	border-radius: 20px 20px 20px 0px;
	border: 2px solid #333131 !important;
  
}

.btn-blue:hover {
	background-color: #1a77f0 !important;
	color: #ffffff;
	border: 2px solid #1a77f0 !important;
}

.face {
	color: #4267B2;
}

.twit{
	color: #1D9BF0;
}

.linkd{
	color: #0A66C2;
}